<div class="forgot-password-container">
  <!-- Input del correo electrónico -->
    @if (step === 1) {
      <div class="container">
        <h3>Recuperar Contraseña</h3>
        <form [formGroup]="validatorFormEmail" (ngSubmit)="EmailContra()">
          <div class="input-container">
            <div class="input-group">
              <input type="email" name="Email" class="inputContra" formControlName="email"/>
              <label class="user-label">Email</label>
            </div>
          </div>
        <button class="buttonRegistro" [disabled]="validatorFormEmail.invalid">Enviar Código</button>
      </form>
    </div>
  }

  <form [formGroup]="validatorFormContrase" (ngSubmit)="CodigoContra()">
    <!-- Input del código de verificación -->
    @if (step === 2) {
      <div class="container">
        <h3>Verificar Código</h3>
        <div class="inp">
          @for (control of codeArray.controls; track $index){
            <input
              type="text"
              id="inp-verifi"
              maxlength="1"
              autocomplete="off"
              [formControlName]="$index"
            />
          }
        </div>
        <div class="containerBoton">
          <button class="buttonRegistro" (click)="nextStep()">Siguiente</button>
        </div>
      </div>
    }
    <!-- Inputs de la nueva contraseña -->
    @if (step === 3) {
      <div class="container">
        <h3>Nueva Contraseña</h3>
        <div class="input-container">
          <div class="input-container2">
            <i class="fa-solid fa-lock"></i>
            <input class="inputContra2" [type]="showPassword? 'text' : 'password'" placeholder="Contraseña nueva" formControlName="password" />
            <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
          </div>
        </div>
        <div class="input-container">
          <div class="input-container2">
            <i class="fa-solid fa-lock"></i>
            <input class="inputContra2" [type]="showPassword? 'text' : 'password'" placeholder="Confirmar contraseña" formControlName="confirmaPassword" />
            <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
          </div>
        </div>
        @if (validatorFormContrase.hasError('passwordsMismatch')) {
          <p>Las contraseñas no coinciden</p>
        }
        <div class="containerBoton">
          <button class="buttonRegistro" (click)="previousStep()">Atrás</button>
          <button class="buttonRegistro" type="submit" [disabled]="validatorFormContrase.invalid">
            Confirmar
          </button>
        </div>
      </div>  
    }
  </form>
</div>    