<div class="forgot-password-container">
  <!-- PASO 1: Email -->
  @if (step === 1) {
    <div class="forgot-card">
      <h3 class="title">Recuperar Contraseña</h3>
      <form [formGroup]="validatorFormEmail" (ngSubmit)="EmailContra()">
        <div class="input-group">
          <input type="email" name="Email" class="input-text" formControlName="email" required />
          <label>Email</label>
        </div>
        <button class="btn-primary" [disabled]="validatorFormEmail.invalid">Enviar Código</button>
      </form>
    </div>
  }

  <!-- PASO 2: Código -->
  @if (step === 2) {
    <div class="forgot-card">
      <h3 class="title">Verificar Código</h3>
      <form [formGroup]="validatorFormCodigo" (ngSubmit)="validarCodigo()">
        <div class="code-inputs" formArrayName="code">
          @for (control of codeArray.controls; track $index){
            <input
              type="text"
              maxlength="1"
              autocomplete="off"
              [formControlName]="$index"
              class="code-input" />
          }
        </div>
        <div class="btn-group">
          <button type="button" class="btn-secondary" (click)="previousStep()">Atrás</button>
          <button type="submit" class="btn-primary" [disabled]="validatorFormCodigo.invalid">Validar Código</button>
        </div>
      </form>
    </div>
  }

  <!-- PASO 3: Nueva Contraseña -->
  @if (step === 3) {
    <div class="forgot-card">
      <h3 class="title">Nueva Contraseña</h3>
      <form [formGroup]="validatorFormContrase" (ngSubmit)="CodigoContra()">
        <div class="input-group icon-input">
          <i class="fa-solid fa-lock"></i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña nueva"
            formControlName="password" />
          <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
        </div>

        <div class="input-group icon-input">
          <i class="fa-solid fa-lock"></i>
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Confirmar contraseña"
            formControlName="confirmaPassword" />
          <i class="fa-solid {{activeIcon}}" (click)="togglePasswordVisibility()"></i>
        </div>

        @if (validatorFormContrase.hasError('passwordsMismatch')) {
          <p class="error-text">Las contraseñas no coinciden</p>
        }

        <div class="btn-group">
          <button type="button" class="btn-secondary" (click)="previousStep()">Atrás</button>
          <button type="submit" class="btn-primary" [disabled]="validatorFormContrase.invalid">
            Confirmar
          </button>
        </div>
      </form>
    </div>
  }
</div>
